
/* main_banner */

.content_1{
    width: 100%;
    height: 520px;
    border: 1px solid #7f6456;
    /* background: url(../images_aesop/main_2.jpg) top -90px center;
    background-size: cover; */
    color: #f7f6ea;
    /* transform: none; */
}
.content_1 .main_banner {
    display: block;
}
.content_1 .img_box{
    height: 520px;
    overflow: hidden;
    width: 100%;
    z-index: -1;
    /* height: 0;
    padding-bottom: 36.4%; */

    /* position: absolute;  */

}

.content_1 .img_box img{
    transform: translateY(-50%);
    top: 50%;
    position: relative;

    /* transform: translateY(-16%);
    top: 50%;
    position: relative; */
}

.content_1 .txt_box{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    top:-300px
}
.content_1 .txt_box p{
    width: 500px;
    font-size: 16px;
    line-height: 1.7;

}
.content_1 .txt_box p a {
    display: inline-block;
    font-size: 30px;
    line-height: 1.3;
    margin-bottom: 15px;
}

.content_1 .btn_box{
    margin-top: 15px;
    width: 114px;
    height: 46px;
    border:1px solid #fffef2;
    color: #fffef2;
    text-align: center;
    line-height: 46px;
} 

.content_1 .btn_box:hover{
    margin-top: 15px;
    width: 114px;
    height: 46px;
    background: #fffef2;
    border:1px solid #fffef2;
    color: #333;
    text-align: center;
    line-height: 46px;
} 



/* best_seller */ 

.content_2 dd{font-size: 14px;}


.content_2{
    width: 100%;
    max-width: 1200px;
    height: 380px;
    margin: 80px auto;
    display: flex;
    justify-content: end;
    position: relative;
}

.content_2 .tit_box {
    width: 300px;

}
.content_2 .cont_box {
    width: calc(100% - 300px);
}
.content_2 .cont_box .prod {
    width: 300px;
}
.content_2 .cont_box .img_box {
    padding: 30px;
    text-align: center;
    width: 100%;
    height: 300px;
}

.content_2 .cont_box .prod .img_box img {
    transform: scale(1);
    transition: all .5s ease-in-out;
}
.content_2 .cont_box .prod:hover .img_box img {
    transform: scale(1.1);
}

.cont_box a:hover>dl>dt {
    text-decoration: underline;
}

.best{
width: 248px;
margin: 70px 26px 0px ;
font-size: 40px;
font-weight: 500;
}

.more_btn{
    width: 114px;
    height: 46px;
    border: 1px solid #333;
    text-align: center;
    line-height: 46px;
    display: block;
    margin: 40px auto 0;
}

.more_btn:hover{
    width: 114px;
    height: 46px;
    background: #333;
    border: 1px solid #333;
    color: #fffef2;
    text-align: center;
    line-height: 46px;
    display: block;
    margin: 40px auto 0;
}

.content_2 dl, .content_2 dt{
    text-align: center;
    margin-top: 20px;
}

.long_txt{
    letter-spacing: -1px;
}

/* content3 */

.content_3{
    width: 100%;
    max-width: 1200px;
    height: 430px;
    margin: 80px auto 0;
    display: flex;
}

.brandstory h2,.brandstory p{
    text-indent:-9999px;
}

.content_3 .cont {
    width: 400px;
    position: relative;
}

.content_3 .cont + .cont {
    margin-left: 20px;
}

.content_3 .cont .title{
    width: 160px;
    height: 58px;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    background:url(../img/index/content_03_bs_txt.png) no-repeat;
    z-index: 1;
}

.gift_guide h2, .gift_guide p{
    text-indent: -9999px;
}

.content_3 .cont.gift_guide .title{
    width: 140px;
    height: 52px;
    background: url(../img/index/content_03_gg_txt.png) no-repeat;
}

.content_3 .cont.news .title{
    width: 71px;
    height: 52px;
    background: url(../img/index/content_03_ne_txt.png) no-repeat;

}

.news h2, .news p {
    text-indent: -9999px;
}


.content_3 img{
    transition: all 1s;
}

.content_3 img:hover{
    filter: blur(10px);
}




/* content4 */

.content_4{
    height: 400px;
    margin: 80px 50px;
    background: url(../img/index/content_04_bg_img.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
}

.content_4_box{
    width: 100%;
    max-width: 1200px;
    height: 180px;
    background: #f7f6ea;
    background-position: center bottom;
    margin: auto;
    padding: 85px 0;
    opacity: 70%;
    text-align: center;
    position: relative;
    top:125px;
    box-sizing: border-box;
}

.content4_logo{
    width: 151px;
    height: 58px;
    background: url(../img/index/content_04_logo.png) no-repeat;
    text-indent: -9999px;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.content_4_box>.more_btn{
    margin: 10px auto;
}

.content_4_box>.more_btn:hover{
    margin: 10px auto;
}



/* content5 */

.content_5{
    width: 100%;
    max-width: 1200px;
    height: 450px;
    margin: 0 auto 80px;
}

.content5_texbox{
    float: left;
    width: 400px
}

.store{
    font-size: 40px;
    font-weight: 500;
}
.store_wrap{
    float: left;
    width: 800px;
    
}

.content_5 h2{
    font-size: 30px;
    margin-bottom: 20px;
}

.text1{
    margin-bottom: 20px;
}

.content_5 .img_box{
    width: 800px;
    height: 450px;
    padding-left: 30px;

}
.content_5 .img_box img{
    height: 100%;
}


.content_5 .text2{
    width: 209px;
    height: 46px;
    border: 1px solid #333;
    text-align: left;
    display: block;
    line-height: 46px;
    position: relative;
    padding-left:9px ;
}

.content_5 .text2:hover{
    width: 209px;
    height: 46px;
    background: #333;
    border: 1px solid #333;
    color: #fffef2;
    text-align: left;
    display: block;
    line-height: 46px;
    position: relative;
    padding-left:9px ;
}
.content_5 a:after {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    background: url(../img/index/btn_right.png) no-repeat;
    position: absolute;
    right: 9px;
    top: 50%;
    transform: translateY(-50%);
}


/* notice */

.notice{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto 80px;
    text-align: center;
    display: flex;
    justify-content: space-around;
    border-top: 1px solid #333333;
    border-bottom: 1px solid #333333;
    line-height: 3;
}

.item1:after{
    content:"｜";
    margin-left: 140px;
    box-sizing: border-box;
}

.item3::before{
    content:"｜";
    margin-right: 140px;
    box-sizing: border-box;
}

/* slick */

/* main banner */

.slick-prev{
    position: absolute;
    left: 30px;
    top:300px;
    width: 30px;
    height: 51px;
    text-indent: -9999px;
    background: url(../img/index/icon_prev_arrow.png) no-repeat;
  }

.slick-next{
    position: absolute;
    right: 30px;
    top:300px;
    width: 30px;
    height: 51px;
    text-indent: -9999px;
    background: url(../img/index/icon_next_arrow.png) no-repeat;
  }


/* best seller slide */

.arrow_wr{
    position: relative;
}

.content_2-prev{
    position: absolute;
    left: -900px;
    top:50%;
    transform: translateY(-50%);
    width: 30px;
    height: 51px;
    text-indent: -9999px;
    background: url(../img/index/icon_prev_arrow.png) no-repeat;
    }

.content_2-next{
    position: absolute;
    right: 0px;
    top:50%;
    transform: translateY(-50%);
    width: 30px;
    height: 51px;
    text-indent: -9999px;
    background: url(../img/index/icon_next_arrow.png) no-repeat;
    } 

.progress1 {
width: 900px;
height: 5px;
border-radius: 10px;
position: absolute;
bottom: 0px;
margin: -20px 0;



background-color: #f5f5f5;
background-image: linear-gradient(to right, #333, #333);
background-repeat: no-repeat;
background-size: 0 100%;

transition: background-size .4s ease-in-out;
margin-top: -20px;
}

.sr-only1 {
position: absolute;
width: 1px;
height: 1px;
padding: 0;
margin: -1px;
clip: rect(0,0,0,0);
border: 0;
padding-top: 10px;
}

/* store slide */

.content_3-prev{
position: relative;
left: 430px;
top:-270px;
transform: translateY(-50%);
width: 80px;
height: 80px;
text-indent: -9999px;
background: url(../img/index/icon_prev_arrow.png) no-repeat center #555;
}

.content_3-next{
position: relative;
left: 1035px;
top:-270px;
transform: translateY(-50%);
width: 80px;
height: 80px;
text-indent: -9999px;
background: url(../img/index/icon_next_arrow.png) no-repeat center #555;
} 

.progress {
    width: 770px;
    height: 5px;
    border-radius: 10px;
    float: right;
    margin: 0 0 80px;
    
    
    background-color: #f5f5f5;
    background-image: linear-gradient(to right, #333, #333);
    background-repeat: no-repeat;
    background-size: 0 100%;
    
    transition: background-size .4s ease-in-out;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    clip: rect(0,0,0,0);
    border: 0;
}









 