.main{
    min-width: 1200px;
    margin: 0 auto 80px;
    padding: 149px 0 80px;
    background:  #F2F1F0  url(../../../../img/common/background.jpg) no-repeat;
}

.cart, .cart_box{
    width: 1200px;
    margin: auto;
    text-align: center;
}

.cart h1{
    font-size: 40px;
    font-weight: bold;
}

.cart p{
    margin: 20px 0 80px;
    text-align: center;
}

.cart_box{
    width: 1200PX;
    background: #fff;
    padding: 10px;
}

.return{
    display: block;
    padding: 20px;
    text-decoration: underline;
    text-underline-position:under;
        
}

.txt{
    display: block;
    padding: 20px;
}

